<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="chrome=1" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="{{ url_for('static', filename='css/materialize.min.css') }}" rel="stylesheet" type="text/css" media="all">
<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css" media="all">
<title>Livestream Robot</title>

</head>
<body>

<h4 class="header center text lighten-2">Livestream Dashboard</h4>

<div class="section no-pad-bot">
  <div class="row">
    <div class="col s12 m6">
      <div class="row">
        <div class="col s6 offset-s4">
          <button class="waves-effect waves-light btn center" id="camera-me"><i class="material-icons left">camera_alt</i>Turn on camera</button>
        </div>
      </div>
      <div class="row">
        <h5 class="header center text lighten-2">Camera</h5>
        <video autoplay></video>
      </div>

    </div>
    <div class="col s12 m6">
      <button class="waves-effect waves-light btn" id="record-me"><i class="material-icons left">live_tv</i>Go Live</button>
      <button class="waves-effect waves-light btn" id="stop-me"><i class="material-icons left">stop</i>Stop</button>
      <h5 class="header center text lighten-2">Livestream</h5>
      <img src="{{ url_for('video_feed') }}" width="800" height="600">
    </div>
  </div>
  <div class="row">
  </div>
</div>

<script src="{{ url_for('static', filename='js/jquery-2.1.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/materialize.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/socket.io.slim.js') }}"></script>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
<!--[if IE]>
<script src="http://ajax.googleapis.com/ajax/libs/chrome-frame/1/CFInstall.min.js"></script>
<script>CFInstall.check({mode: 'overlay'});</script>
<![endif]-->
</body>
</html>
